@import "~@angular/material/prebuilt-themes/indigo-pink.css";
footer {
  background-color: #3f51b5;
  color: bisque;
  font-size: small;
  padding-top: 3px;
  position: absolute;
  height: 50px;
  margin-bottom: 0;
  bottom: 0;
  width: 100%;
}
